#map {
  height: 80%;
  width: 80%;
  margin: auto;
}
#title {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#description {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#teamSelect {
  height: 5%;
  margin: auto;
  text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("Background.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: auto;
}


#maskButtonY {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}


#maskButtonN {
  background-color: Red; /* Green */
  border: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

#distanceButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}
}
