#map {
  height: 80%;
  width: 80%;
  margin: auto;
}
#title {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#description {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#teamSelect {
  height: 5%;
  margin: auto;
  text-align: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
