#map {
  height: 65%;
  width: 65%;
  margin: auto;
  color: black;
}
#title {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#description {
  height: 5%;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: center;
}
#teamSelect {
  height: 5%;
  margin: auto;
  text-align: center;
}
#question {
  margin: auto;
  text-align: center;
  position: relative;
  width: 25%;
  padding-bottom: 50px;
  box-shadow: 0px 0px 7px #FFF;
  background-color: #243d4c;
  padding: 0% 0.5% 0.5% 0.5%;
}
#scoreTracker{
  width: 10%;
  padding-left: 20px;
  box-shadow: 0px 0px 7px #FFF;
  background-color: #243d4c;
  float: left;
}
#timeTracker{
  padding-right: 20px;
  width: 10%;
  box-shadow: 0px 0px 7px #FFF;
  background-color: #243d4c;
  float: right;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("Background.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: auto;
  font-family: video,serif !important;
  font-weight: 400;
  font-style: normal;
}


#maskButtonY {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  transition-duration: 0.4s;
  position: relative;
}


#maskButtonN {
  background-color: Red; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  transition-duration: 0.4s;
  position: relative;
}

#distanceButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

#credits{
  padding-top: 100px;
}
a{
  text-decoration: none !important;
  color: #FFF !important;
}
